h1 {
    color: #0745ff;
    font-family: 'Inria Sans', sans-serif;
}

h2 {
    color: #0745ff;
    font-family: 'Inria Sans', sans-serif;
}

h3 {
    color: #0745ff;
    font-family: 'Inria Sans', sans-serif;
}